
.custom_navbar{
    background-image: linear-gradient(to bottom right, #E6BE8A
    ,#92926E);
    height:80px;
    
}
.custom_navbar a{
    text-decoration: none;
    font-size: 1.25em;
    color:white;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
